@model DeliveryInfoViewModel
@{
    ViewData["Title"] = "CheckOut Page";
}

    <form method="post">
        <div class="validation" asp-validation-summary="All">
           <h4 class="text-center my-4">Оформление заказа</h4>
            <div class="input-group mb-3">
                <label class="input-group-text" asp-for="Name">Имя</label><br />
                <input type="text" class="form-control" asp-for="Name" placeholder="Name" aria-describedby="userName">
                <span asp-validation-for="Name"></span>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" asp-validation-for="Adress">Адрес доставки</span>
                <input class="form-control" asp-for="Adress" placeholder="Delivery adress" aria-describedby="adress">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" asp-validation-for="PhoneNumber">Телефон</span>
                <input class="form-control" asp-for="PhoneNumber" placeholder="Phone number" aria-label="phoneNumber">
            </div>

            <div class="text-center">
                <a class="btn btn-outline-dark" type="button" asp-controller="Basket" asp-action="Index" role="button" aria-label="BackToBasketPage">Отмена</a>
                <button class="btn btn-dark" type="submit" asp-controller="Order" asp-action="CheckOut" aria-label="CreateOrder">Оформить</button>
            </div>
        </div>
    </form>

