@model Role
@{
    ViewData["Title"] = "Create Role Page";
}

<div class="row">

    @await Html.PartialAsync("LeftPanel")
    <div class="row-9">
        <form class="text-sm-center" method="post">
            <h4>Создание новой роли</h4>
            <div class="validation" asp-validation-summary="All">
                <div class="card mb-auto shadow">
                    <div class="row g-0">

                        <div class="col-9">
                            <div class="card-body">
                                <div class="input-group mb-9">
                                    <span class="input-group-text" asp-validation-for="@Model.Name">Имя</span>
                                    <input type="text" class="form-control" asp-for="@Model.Name" aria-label="name">
                                </div>

                                <button class="btn btn-dark" type="submit" asp-area="Admin" asp-controller="Role" asp-action="Add">Добавить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
