
@{
    ViewData["Title"] = "AdminLeftPanel";
}
<div class="col-3">
    <table class="table-sm form-row table-borderless">
        <thead class="thead-light">
            <tr>
                <th> <a asp-area="Admin" asp-controller="Order" asp-action="Index">Заказы</a></th>
            </tr>
            <tr>
                <th> <a asp-area="Admin" asp-controller="User" asp-action="Index">Пользователи</a></th>
            </tr>
            <tr>
                <th> <a asp-area="Admin" asp-controller="Role" asp-action="Index">Роли</a></th>
            </tr>
            <tr>
                <th> <a asp-area="Admin" asp-controller="Product" asp-action="Index">Продукты</a></th>
            </tr>
        </thead>
    </table>
</div>



