@model NewPassword

<div class="row">
    @await Html.PartialAsync("LeftPanel")

    <div class="row-9">
        <form class="text-sm-center" method="post">
            <h4>Редактирование пароля</h4>
            <div class="validation" asp-validation-summary="All">
                <div class="card mb-auto shadow">
                    <div class="row g-0">
                        <div class="card-body">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <input type="hidden" name="Login" value="@Model.Login" />

                            <h6 asp-for="Login">Пользователь @Model.Login</h6>
                            <div class="input-group mb-6">
                                <span class="input-group-text" asp-validation-for="Password">Пароль</span>
                                <input type="text" class="form-control" asp-for="Password" aria-label="password">
                            </div>

                            <div class="input-group mb-6">
                                <span class="input-group-text" asp-validation-for="PasswordConfirm">Подтверждение пароля</span>
                                <input type="text" class="form-control" asp-for="PasswordConfirm" aria-label="passwordConfirm">
                            </div>

                            <button class="btn btn-dark" type="submit" role="button" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Сохранить изменения</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>